---
layout: default
title: 我的地盘我做主 —— My game, my turf, my rules
---

<article>
	<h2>{{ page.title }}</h2>
	<p>最新文章</p>
	<ul>
		<!-- 遍历分页后的文章 -->
		{% for post in paginator.posts %}
			<li>
				{{ post.date | date_to_string }}
				<a href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</article>

<!-- 分页链接 -->
<!-- 除第一页外，外每个页面生成链接 -->
{% if paginator.total_pages > 1 %}
	<section class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">
				&laquo; Prev
			</a>
		{% else %}
			<span class="previous">&laquo; Prev</span>
		{% endif %}


		{% for page in (1..paginator.total_pages) %}
		    {% if page == paginator.page %}
		      <em>{{ page }}</em>
		    {% elsif page == 1 %}
		      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		    {% else %}
		      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		    {% endif %}
	  	{% endfor %}
<!-- 		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<em>{{ page }}</em>
			{% elsif page == 1 %}
				<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endfor %} -->

		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next &raquo;</a>
		{% else %}
			<span class="next">Next &raquo;</span>
		{% endif %}
	</section>
{% endif %}